/* From Uiverse.io by vinodjangid07 */ 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }
  .switch {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  .wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s;
  }
  .row {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .row-bottom {
    align-items: flex-end;
  }
  .dot {
    width: 8px;
    height: 8px;
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.2s;
  }
  .row-horizontal {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
  }
  .row-vertical {
    position: absolute;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
  }
  
  .switch:hover .wrapper .row-horizontal {
    width: 100px;
  }
  .switch:hover .wrapper .row-vertical {
    height: 100px;
  }
  
  .switch:hover .wrapper .row-vertical .middle-dot {
    border-radius: 5px;
    height: 35px;
  }
  .switch:hover .wrapper .row-horizontal .middle-dot-horizontal {
    border-radius: 5px;
    width: 35px;
  }
  .switch input:checked + .wrapper {
    transform: rotate(45deg) scale(1.2);
  }
  .switch input:checked + .wrapper .row-vertical {
    height: 100px;
  }
  .switch input:checked + .wrapper .row-horizontal {
    width: 100px;
  }
  
  .switch input:checked + .wrapper .row-vertical .middle-dot {
    border-radius: 5px;
    height: 35px;
  }
  .switch input:checked + .wrapper .row-horizontal .middle-dot-horizontal {
    border-radius: 5px;
    width: 35px;
  }
  .dot {
    border-color: white; /* Makes dots white */
  }
  
  .wrapper {
    color: white;
  }
  